body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Ensure #root takes up the whole viewport */
#root {
  height: 100%;
  text-align: center;
}

/* Apply styles to the app container to take up the whole screen */
.app {
  height: 100%;
    flex: 1;
}

.text-white {
  color: white;
}

.bg {
  background-image: url('./assets/bluesky_house.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.transparent-bg {
  background-color: transparent;
}

.footer {
  background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
  color: white; /* White text color */
  padding: 20px; /* Add padding for better spacing */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.marketplace-text {
  font-weight: bold;
}
/* Appropriate CSS for styling the navbar *//* Appropriate CSS for styling the navbar */
.navbar {
  background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
  color: white; /* White text color */
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: white; /* White text color for links */
}

.nav-link:hover {
  text-decoration: underline; /* Add underline on hover */
}